header
  .header-position
    h1.logo Marco Piunti
    
    nav.site-nav
      ul.menu
        li
          h5: a(href="#works") Works
          ul.submenu 
            li
              h5: a(href="#2017") 2017
            li
              h5: a(href="#2016") 2016
        li
          h5: a(href="#about") About
        li
          h5: a(href="#contact") Contact
      
    a(href="mailto:hello@marcopiunti.com").email-link +email me
